.linksForm{
    position: absolute;
    font-size: 1.4rem;
    color: gray;
    display: flex;
    &__active{
        color: black;
    }
    &__disable{
        text-decoration: none; // Подчеркивание ссылки
        cursor: not-allowed; // Курсор "запрещено"
    }
    p{
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
    }
}
