.scrolSpec{
    width: 100%;
    flex-direction: row !important;
    flex-wrap: unset;
    overflow-y: scroll;

  &__element{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    padding-top: 35px;
    animation: text 5s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
    }
}
  @keyframes text {
    0%{
      transform: translate(0, 0);
    }
    
    100%{
      transform: translate(-160%, 0);
    }
  }


.options{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
  margin-top: 10px;
  div{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
  }
}