@import "./abstracts/mixins";
@import "./abstracts/media";
@import "./components/btn.scss";
@import "./abstracts/colors.scss";

// @import url("./calendar.scss");
.carList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  grid-gap: 30px;
  font-size: 15px;
  
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
  &__text{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
   
    &--line{
      width: 100px;
      height: 7px;
      display: flex;
      justify-content: center;
      margin: auto;
      gap: 5px;
     
      &_item1{
        background: $orange;
        height: 100%;
        width: 50px;
        transform: skew(-40deg, 0deg);
        overflow: hidden; 
        white-space: nowrap;
        animation: fadeInText 2s forwards;
      }
      &_item2{
        background: $orange;
        width: 30px;
        height: 100%;
        display: inline;
        transform: skew(-40deg, 0deg);
        overflow: hidden; 
        white-space: nowrap;
        animation: fadeInText2 2s forwards;
      }
    }

    h1{

      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
    }
    p{
      font-size: 1.3rem;
      font-weight: 100;
    }
    @keyframes fadeInText {
      from {
        width: 0; /* Начало анимации, текст невидим */
      }
      to {
        width: 50px; /* Конец анимации, текст полностью видим */
      }
    }
    @keyframes fadeInText2 {
      from {
        width: 0; /* Начало анимации, текст невидим */
      }
      to {
        width: 30px; /* Конец анимации, текст полностью видим */
      }
    }
  }
  

  &_item {
    background-color: white;
    border-radius: 5px;

    position: relative;
    overflow: hidden;

    width: 280px;
    height: 330px;
    min-width: 284px;
    min-height: 320px;
    border: 2px solid #ffecde;
    padding: 12px;

    @include tablet() {
      width: 300px;
    }

    &-img {
      width: 100%;
      height: 150px;
      display: block;
      object-fit: cover;
      border-radius: 6px;
    }

    &-additionalInfo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-gap: 30px;
      font-size: 16px;
      padding: 8px;
      img {
        width: 20px;
        margin: auto;
      }

      span {
        font-size: 14px;
      }
    }

    &-periodPrice {
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: center;
      p {
        font-size: 18px;
        display: inline-block;
        span {
          opacity: 20%;
        }
      }
    }

    &-info {
      font-weight: bold;
      padding: 5px 0;
      span {
        opacity: 20%;
        display: block;
      }
    }
  }
}
