.faq {
  display: flex;
  flex-direction: column;
  width: 100%;

  
  &_item {
  }

  //@ todo requires design
  &_title {
    position: relative;
    padding: 14px;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    z-index: 2;

    &.open {
    }
  }

  &_content {
    position: relative;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    transition-duration: 450ms;
    transition-property: max-height;

    &.open {
      max-height: 500px;
      transition: max-height 450ms ease-in-out;
    }
  }

  &_text {
    font-size: 1.3rem;
    font-weight: 100;
    opacity: 0;
    transform: translateY(-1rem);
    padding: 12px;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);

    .open & {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    }
  }
  h1{
    font-size: 2rem;
    font-weight: bold;
  }
}


.w-100{
  width: 100%;
}

.blockFAQS{
  width: 80%;
  margin: auto;
  h1{
    font-size:2rem;
    font-weight:bold;
    width:100%;
    text-align:center;
  }
}