@import './popup-photos.scss';
@import "swiper/css";
@import "swiper/css/navigation";
@tailwind base;
@tailwind components;
@tailwind utilities;

.testCar{
  z-index: 1000;
}
.popup-overlay{
  background: linear-gradient(90deg, rgba(34,34,34,0.541036482952556) 100%, rgba(255,166,0,0) 100%);
}
.modal {
    width: 800px;
    height: 700px;
    background-color: red;
    overflow: scroll;
    overflow-x: hidden;
    &_information{
        display: flex;
        align-items: center;
        
          &-side{
            display: inline-block;
          }
        // &-slider{
        //     width: 50%;
        //     max-height: 294px;
        //     margin: auto;
        //     img {
        //         background-size: cover;
        //         background-repeat: no-repeat;
        //         background-position: right;
        //     }
        // }
    }

    &_close{
        width: 100%;
        text-align: end;
    }


}
  
