
@import "./colors";
// Basic button styles
.btn {
    border: none;
    line-height: 1;
    // margin: 0.5em;
    padding: 1em 2em;
    // @todo fix that transform doesnt skew the text
    transition: transform 300ms linear 0ms;
    border-radius: 8px;

   
    &-black{
        color: $wheat;
        background-color: $black;

    }
    &-orange{
        color: $black;
        background-color: $orange;
    }
    &-unset{
        font-weight: unset !important;
    }
    &:hover,
    &:focus {
        // transform: scale(1.1);
        cursor: pointer;

    }



}

