.book {
    display: block;
    &__info {
        flex: 2; /* Основная информация занимает всю доступную ширину */
        padding: 5px;
    }

    /* Стили для блока оплаты, стики react и scss */
    &__payment {
        flex: 1; /* Блок оплаты занимает всю доступную ширину */
        padding: 20px;


       &--sticky{
            position: sticky; /* Закрепляем блок при прокрутке */
            top: 20px; /* Расстояние от верхней границы окна прокрутки */
            border: 2px solid black;
            border-radius: 20px;
            padding: 5px;
            // padding: 15px;
       }
    }

}





@media only screen and (max-width: 767px) {

}

// Стили для планшетного разрешения
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .book{
        &__info {
            padding: 20px;
        }
        &__payment {
            &--sticky{
                padding: 15px;
            }
        }
    }
}

// Стили для десктопного разрешения
@media only screen and (min-width: 1024px) {
    .book{
        display: flex;
        &__info {
            padding: 20px;
        }
        &__payment {
            &--sticky{
                padding: 15px;
            }
        }
    }
}
