.carHat{
    width: 100%;
    min-height: 400px;

    background-color: black;
    // // height: 100vh;
    background-image: url("/background/bg_carHat.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top 10%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    text-align: center;
    &__element{
        margin: auto;
        width: 100%;
        h1{
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        p{
            font-size: 1.5rem;
        }
    }
    
}