@import "./abstracts/media";
@import "./abstracts/colors.scss";
//colors

.carItem {
  display: flex;
  flex-direction: column;
  border: 1px solid $grey;
  cursor: pointer;

  &_btn {
    background: $orange;
    font-weight: bold;
    margin: 0;

    &:hover {
      transform: none;
      background-color: #ffca29;
    }
    
  }
  
  &_booking{
    font-size: 1.5rem;
    margin: auto;
    margin-top: auto;
    text-align: center;
    display: flex;
    margin-top: 20px;
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px 12px 12px;

    &-title {
      font-size: 20px;
      display: flex;
      flex-direction: column;
    }

    &-subtitle {
      font-size: 12px;
      color: #b0b0b0;
      margin-top: 4px;
    }
  }

  &_img {
    max-height: 180px;
    object-fit: contain;
    width: 100%;
  }

  &_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    &-text {
      display: flex;
      flex-direction: row;
      font-size: 16px;
    }
  }

  &_icon {
    height: 18px;
    width: 18px;
    margin-right: 6px;
  }
  &_icon_Big {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  &_additionalInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    @include mobile() {
      font-size: 20px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-text {
      //
    }
  }
}
