@import "./abstracts/media.scss";

.positionation{
    // position: absolute;
    bottom: 20%;
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    z-index: 200000;
    &__displayPage{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      text-align: center;
      button.btn.btn-orange{
        height: 55px;
        padding: 0px;
      }
    }
    &__dark{
      // background: black !important;
    }
    &__display{
      position: relative;
      width: 100%;  
      display: grid;
      grid-template-columns:  minmax(20%,500px) minmax(10px,250px) minmax(10px,250px) 130px;
      grid-gap: 10px;
      justify-content: center;
      align-self: center;
      text-align: center;
      padding: 10px;
      &--item_1{
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0px !important;
        padding: 0px !important;
        display: flex;
        text-align: center;
        align-content: center;
        align-items: center;
      }

      &--item_2{
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0px !important;
        padding: 0px !important;
      }
      &--item_3{
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0px !important;
        padding: 0px !important;
      }
      &--item_4{
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0px !important;
        padding: 0px !important;
      }
      &--item_5{
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0px !important;
        padding: 0px !important;
      }
    }
}
.dropdown {
    // margin: 0 auto;
    // z-index: 10000;
    // width: 300px;
    position: relative;
    padding-top: 5px;
    font-size: 1.4rem;

  &_btn {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    // border-radius: 5px;
    // color: #777;
    @include mobile() {
      font-size: 16px;
    }
  }
  &_time{
    z-index: 99999999;
    position: absolute;
    min-width: 40%;
    bottom: 110%;
    text-align: center;
    align-self: flex-end;
    background-color: white;
    // width: 30%;
    right: 0%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:2px solid black;
    
    &-item{
      // min-width: 50px;
      padding: 10px;
      cursor: pointer;
        
    }
  }

  &_time::-webkit-scrollbar-track {
    border: 0px solid #ffffff;
    padding: 2px 0;
    background-color: #ffffff;
  }
  
  &_time::-webkit-scrollbar {
    width: 5px;
  }
  
  &_time::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }
  &_content {
    position: absolute;
    z-index: 199999999;
    bottom: 110%;
    left: 0;
    min-width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    background-color: white;
    &-item {
      min-width: 20px;
            padding: 10px;
            cursor: pointer;
        
    }
    &-item:hover {
        background: #fcfcfc;
    }
  
  }
 
}
// .minH-carPage{
//   min-height: 310px;
// }
.reset_margin_top{
  margin-top: 0px;
}
.p-hidden{
  display: none;
}
.p-open{
  display: unset;
}
// верстка под мобильную версию календарь
.positionation__display .relative.w-full.text-gray-700 div{
  text-align: center;
}
.positionation.p-hidden .positionation__display .relative.w-full.text-gray-700 div{
  z-index: 300000;
}
.relative.w-full.text-gray-700 button[disabled]{
  color: red;
  // document.querySelector(".relative.w-full.text-gray-700 button[disabled].line-through")
}
.toogle_calendar{
  height: 67px;
}



@media only screen and (max-width: 767px) {
 
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .w-12{
    width: unset !important;
  }
}
// Стили для планшетного разрешения
@media only screen and (min-width: 860px) and (max-width: 1023px) {


  .positionation
  {
    &__display{
      grid-template-columns:  minmax(20%,400px) minmax(10px,250px) minmax(10px,250px) 130px 130px;
      &--item_1{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_2{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_3{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_4{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_5{
        grid-column-start: unset;
        grid-column-end: unset;
      }
    }
  }
}

// Стили для десктопного разрешения
@media only screen and (min-width: 1024px) {
  .p-open{
    display: none;
  }
  .p-hidden{
    display: unset;
  }
  .positionation
  {
    &__display{
      grid-template-columns:  minmax(20%,400px) minmax(10px,250px) minmax(10px,250px) 130px 130px;
      &--item_1{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_2{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_3{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_4{
        grid-column-start: unset;
        grid-column-end: unset;
      }
      &--item_5{
        grid-column-start: unset;
        grid-column-end: unset;
      }
    }
  }
}