
.positionation{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: 100%;
}
.dropdown {
    margin: 0 auto;
    z-index: 10000;
    width: 300px;
    position: relative;
    padding: 5px;

  &_btn {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #777;
    font-weight: 500;
  }
  &_time{
    position: absolute;
    top: 110%;
    text-align: center;
    align-self: flex-end;
    background-color: white;
    width: 30%;
    right: 0%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:2px solid black
  }

  &_time::-webkit-scrollbar-track {
    border: 0px solid #ffffff;
    padding: 2px 0;
    background-color: #ffffff;
  }
  
  &_time::-webkit-scrollbar {
    width: 5px;
  }
  
  &_time::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }
  &_content {
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    background-color: white;
    &-item {
      min-width: 20px;
            padding: 10px;
            cursor: pointer;
        
    }
    &-item:hover {
        background: #fcfcfc;
    }
  
  }
 
}
.react-time-picker__clock { display: none; }

.relative.w-full.text-gray-700{
    width: 60%;
    z-index: 1000;
}

// .bottom-full{
//   bottom: 0;
// }
// .-bottom-2
