@import "./media.scss";

.footerContact {
  background-color: #222;
  color: wheat;
  margin: auto;

  &_list {
    display: flex;
    flex-direction: column;

    @include desktop() {
      flex-direction: row;
    }
  }

  &_item {
    margin: 10px;

    span {
        font-weight: bold;
        margin-right: 4px;
    }

    &-link {
      &:hover {
        color: white;
      }
    }
  }
}
