@import "./media.scss";

.footerContact {
  background-color: #222;
  color: wheat;
  margin: auto;
  padding-bottom: 10px;
  font-size: 14px;

  &_list {
    display: flex;
    flex-direction: column;

    @include desktop() {
      flex-direction: row;
    }
  }

  &_item {
    margin: 10px;

    span {
      font-weight: bold;
      margin-right: 4px;
      color: white;
    }

    &-link {
      color: wheat;

      &:hover {
        color: orange;
      }
    }
  }

  &_copyright {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
}
