@import url("./reset.scss");
@import url("./normalize.scss");
@import "./abstracts/media";
@import "./abstracts/colors.scss";

// @import "rsuite/dist/rsuite.css";
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 42px
}

.w-60 {
  width: 60%;
}

.wrapper {
  margin: 12px;

  @include tablet() {
    margin: 20px;
  }

  @include desktop() {
    margin: 0 auto;
    max-width: 1000px;
  }

  @include desktop2() {
    max-width: 1200px;
  }
}

.swiper-button-next, .swiper-button-prev{
  color: $orange; // Замените на желаемый цвет
  border: 2px solid #b39999;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

@media only screen and (max-width: 600px) {
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }
}

// Стили для планшетного разрешения
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  // Ваши стили для планшетного разрешения
  
}

// Стили для десктопного разрешения
@media only screen and (min-width: 1024px) {
  // Ваши стили для десктопного разрешения

}

#scrollTopButton {
  z-index: 9999999999;
  width: 90px;
  height: 90px;

  position: fixed;
  display: none;
  border: none;
  cursor: pointer;

  background-color: $orange;
  background-image: url("/icons/arrow.svg");

  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 60px 60px;
  background-position-y: center;
  transform: rotate(180deg);

  bottom: 30px;
  right: 20px;
  border-radius: 80%;


  &.show {
    display: block; /* Показываем кнопку, когда нужно прокрутить */
  }
}