@import url("./reset.scss");
@import url("./normalize.scss");
@import "_media";
// @import "rsuite/dist/rsuite.css";

body {
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

.w-60 {
  width: 60%;
}

.wrapper {
  margin: 12px;

  @include tablet() {
    margin: 20px;
  }

  @include desktop() {
    margin: 0 auto;
    max-width: 1000px;
  }

  @include desktop2() {
    max-width: 1200px;
  }
}
// a{
//     text-decoration:none
// }
// .header{
//   position:relative;
//   overflow:hidden;
//   display:flex;
//   flex-wrap: wrap;
//   min-height:400px;
//   max-height:550px;
//   min-width:300px;
//   color:#eee;
//   background:#1B2030 url(https://auto-allure.com/assets/images/background1.png) 50% 0 no-repeat;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: right;

//   a{
//     color: white;
//   }

//   &_links{
//     font-size: 17px;
//     width: 100%;
//     background-color: black;
//     vertical-align: center;
//   }
// }
